nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--color-light);
    backdrop-filter: blur(1px);
}

nav > button {
    margin: 5px 0;
    padding: 15px;
    width: 80px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    transition: ease .1s;
}

nav > button:hover {
    background-color: var(--color-light);
    backdrop-filter: blur(2px);
}

@media screen and (max-width: 850px) {
    nav {
        width: 60%;
    }
}

@media screen and (max-width: 720px) {
    nav {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    nav {
        width: 80%;
    }

    nav > button {
        width: 50px;
    }
}

@media screen and (max-width: 400px) {
    nav {
        margin-top: 0;
        border-radius: 0;
        width: 100%;
    }
}